<p>order-now works!</p>

<div class="row">
  
        <div  class="col-md-4" *ngFor="let p of menuItems | paginate:{itemsPerPage:2,currentPage:p}">
            <!--<img src="{{p.image}}" style='height: 100%; width: 100%; object-fit: contain' />-->
            <!-- {{p.Title}}
            {{p.Price}} -->
        
   
    <div class="card" style="width: 18rem;">
        <img src="{{p.image}}" class="card-img-top" height="200" width="200">
        <div class="card-body">
          <h5 class="card-title"> {{p.Title}}</h5>
          <p class="card-text">  {{p.Price}}</p>
 <button class="btn btn-primary" (click)="AddToCart(p.id)">Add to Cart</button>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>