<h2> Products</h2>
<table class="table">
    <thead>
        <tr>
            <th colspan="5">
                <a routerLink="/addproduct">Add Product</a>
            </th>
        </tr>
        <tr>
            <th>S.no</th>
            <th> Pname </th>
            <th> Price</th>
            <th> Quantity</th>
            <th> Action</th>
        </tr>
        <tr *ngFor="let pro of proData; let i=index">
            <td>{{i+1}}</td>
            <td>{{pro.pname}}</td>
            <td>{{pro.price}}</td>
            <td>{{pro.quantity}}</td>
            <td><button (click)="delProduct(pro.id)">Delete</button></td>
        </tr>
    </thead>
</table>