<p>home works!</p>
<div class="container">
    <div class="text-center">
        <h1>Pizza Delivery</h1>
        <p>Welcome to pizza delivery service.This is the place when you may choose the most delious pizza you like from wide
            variety of options!</p>
    
    </div>
    <hr class="solid">
    <div class="text-center">
        <p>We're performing delivery free of charge in case if your order is higher than 20$</p>
    </div>
    <div class="text-center">
        <button type="Submit" class="btn btn-success" (click)="OrderNow()">Order Now</button>
    </div>
    </div>
