<h2> Add Products</h2>
<form #myForm="ngForm" (ngSubmit)="addProduct(myForm.value)">
    <div class="form-group">
        <label> Pname </label>
        <input type="text" class="form-control" ngModel name="pname" #pn="ngModel" required/>
        <!-- error validation-->
        <div *ngIf="pn.touched && pn.invalid" class="alert alert-danger">
             <div *ngIf="pn.errors?.['required']"> Pname is required</div>
        </div>
    </div>
    <div class="form-group">
        <label> Price </label>
        <input type="text" class="form-control" ngModel name="price" #pr="ngModel" required pattern="[0-9]+"/>
         <!-- error validation-->
         <div *ngIf="pr.touched && pr.invalid" class="alert alert-danger">
            <div *ngIf="pr.errors?.['required']"> Price is required</div>
            <div *ngIf="pr.errors?.['pattern']"> Only digit allow</div>
       </div>
    </div>
    <div class="form-group">
        <label> Quantity </label>
        <input type="text" class="form-control" ngModel name="quantity" #qn="ngModel" required pattern="[0-9]+"/>
       <!-- error validation-->
       <div *ngIf="qn.touched && qn.invalid" class="alert alert-danger">
        <div *ngIf="qn.errors?.['required']"> Quantity is required</div>
        <div *ngIf="qn.errors?.['pattern']"> Digit allow</div>
   </div>
    </div>
    <input type="submit" value="Add" class="btn btn-success" [disabled]="myForm.invalid"/>
</form>